a {
    margin: 5px;
    border-top: 2px;
    border-bottom: 2px;
    padding-bottom: 5px;
}

body {
    background-image: url("background/tele-ch-site-background.png");
}

.col {
    background-color: aliceblue;
}

.nav-item {
    padding: 10%;
}

.link-border {
    border: 5px solid;
    border-color: black;
}

img {
    border: 5px solid #555;
}