a {
    margin: 5px;
    border-top: 2px;
    border-bottom: 2px;
    padding-bottom: 5px;
}

body {
    background-image: url("background/tele-ch-site-background.png");
}

.container {
    display: table; /* Make the container element behave like a table */
    width: 100%; /* Set full-width to expand the whole page */
  }

.col {
    display: table-cell;
    background-color: aliceblue;
    min-height: 700px;
}

.nav-item {
    padding: 10%;
}

.link-border {
    border: 5px solid;
    border-color: black;
}

img {
    border: 5px solid #555;
}