a {
    margin: 5px;
    border-top: 2px;
    border-bottom: 2px;
}

body {
    background-image: url("background/tele-ch-site-background.png");
}

.col {
    background-color: aliceblue;
}

.nav-item {
    padding: 10%;
}